.contact form {
  width: 70%;
}

.contact form input {
  border-radius: 3px;
  padding: 30px;
  height: 70px;
  width: 100%;
  background: var(--background-light);
}
.contact form textarea {
  padding: 30px;
  border-radius: 3px;
  height: 250px;
  width: 100%;
  background: var(--background-light);
  resize: none;
}
@media (max-width: 1200px) {
  .contact form {
    width: 90%;
  }
}
@media (max-width: 640px) {
  .contact form {
    width: 100%;
  }
}
